.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: calc(var(--header-height) / 2);
}

.error-message {
  color: tomato;
  font-size: 20px;
  text-align: center;
  margin: 24px;
}
