.container {
  display: flex;
  justify-content: center;
  padding-top: calc(var(--header-height) / 2);
}

.photo-gallery {
  margin: 24px auto;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);

  width: calc((var(--item-size) * var(--columns)) + (var(--gap) * (var(--columns) - 1)));
}

.gallery-item {
  border-radius: 8px;
  width: var(--item-size);
  height: var(--item-size);
  overflow: hidden;
}

.gallery-item div {
  display: flex;
  width: 100%;
  height: 100%;
}

.gallery-item:hover {
  cursor: zoom-in;
}
