.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Убираем фиксированную высоту */
  width: fit-content;
  max-width: 75vw;

  /* Пусть растёт по контенту */
  max-height: 90vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal img {
  object-fit: contain;
  max-width: 100%;
  max-height: 90vh;
  /* чтобы не вылезало за экран */
}

.likes {
  position: absolute;
  bottom: 0;
  height: 32px;
  background-color: #333333c4;
  color: #fff;
  width: 100%;
  padding: 8px;

  display: flex;
  justify-content: space-between;
  /* ✨ Разносит текст влево и вправо */
  align-items: center;

  animation: Likes 200ms 100ms forwards;
  opacity: 0;
}

.left {
  text-align: left;
}

.right {
  margin-left: auto;
  text-align: right;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #33333364;
}

@keyframes Likes {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
