:root {
  --columns: 4;
  /* ← задаёшь количество элементов в строке */
  --item-size: 280px;
  /* размер карточки */
  --gap: 24px;
  /* отступ между карточками */
  --header-height: calc(24px * 2 + 48px);
  /* высота header */
}

body {
  font-family: "Montserrat Alternates";
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: auto;
}
